<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.web>
        <customErrors mode="On"/>
		<pages validateRequest="false" />

		<httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" />
    </system.web>

    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By"/>
                <remove name="Server"/>
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
		<rule name="Redirect to https" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false"/>
        </rule>
			<rule name="ReverseProxyInboundRule1" stopProcessing="true">		
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:5054/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
